* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #050505;
    font-family: 'Courier New', monospace;
    color: #eee;
}

#game-container {
    width: 320px;
    height: 550px;
    background-color: #111;
    border: 3px solid #222;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#floor-display {
    background-color: #000;
    color: #0f0;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #0f0;
}

#elevator-view {
    flex-grow: 1;
    background-color: #1a1a1a;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

#room-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* LE MONSTRE */
#monster-overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    object-fit: cover;
    display: none;
    z-index: 10;
}

/* Animation quand on perd */
.monster-attack {
    display: block !important;
    animation: zoom-in 0.3s ease-out forwards;
}

@keyframes zoom-in {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1.3); opacity: 1; }
}

/* LES PORTES */
.door {
    position: absolute;
    top: 0; width: 50%; height: 100%;
    background-color: #333;
    border: 1px solid #111;
    transition: transform 0.8s ease-in-out;
    z-index: 5;
}

#door-left { left: 0; }
#door-right { right: 0; }

.doors-open #door-left { transform: translateX(-100%); }
.doors-open #door-right { transform: translateX(100%); }

.btn {
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
}

.btn.action { background-color: #400; width: 100%; }
